body {
    padding: 10px;
}

.card {
    padding: 20px;
    border: 1px solid gainsboro;
    height: 220px;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

img {
    border-radius: 5px;
    position: absolute;
}

.truncate {
    white-space:normal;
    overflow: hidden;
    height: 100px;
    margin-top: 5px;
    margin-right: 220px;
    margin-bottom: 5px;
}

.comment {
    height: fit-content;
}


